# Instructions for adding custom prox operators and blocks:
#
# 1) Copy this file to CustomSources.cmake
#
# 2) Add your custom files below, e.g., like this:
#
#    set(PROST_CUSTOM_SOURCES
#      ../../preciserelaxation/src/cvpr2016/prost/block_dataterm_sublabel.cu
#      ../../preciserelaxation/src/cvpr2016/prost/prox_ind_epi_polyhedral_1d.cu
#      ../../preciserelaxation/src/cvpr2016/prost/prox_ind_epi_conjquad_1d.cu
#
#      ../../preciserelaxation/src/cvpr2016/prost/block_dataterm_sublabel.hpp
#      ../../preciserelaxation/src/cvpr2016/prost/prox_ind_epi_polyhedral_1d.hpp
#      ../../preciserelaxation/src/cvpr2016/prost/prox_ind_epi_conjquad_1d.hpp
#      )
#
#    set(MATLAB_CUSTOM_SOURCES
#      ../../preciserelaxation/src/cvpr2016/prost/custom.cpp
#      )
#

set(PROST_CUSTOM_SOURCES
  )

set(MATLAB_CUSTOM_SOURCES
  )
